.recomendado {
  margin-top: 60px;
  h2 {
    text-transform: uppercase;
  }
  .header-btn-ver-mais {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-ver-mais {
    transition: 0.3s;
    background-color: var(--cor-p1);
    color: var(--cor-0);
    padding: 8px;
    border-radius: 4px;
    &:hover{
      background-color: var(--cor-p2);
    }
  }
}

.header-prateleira {
  .vitrine {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0px 30px;
    h2 {
      display: none;
    }
    img {
      height: 250px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 16px;
    }
    li {
      margin: 0 20px;
    }
    .x-shelf__title {
      margin-bottom: 6px;
      font-family: 'Poppins', sans-serif;
    }
    .x-shelf__old-price{
      margin-right: 6px;
      font-family: 'Poppins', sans-serif;
    }
    .x-shelf__best-price{
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      font-weight: bold;
    }

  }
}

@media (max-width: 800px) {
  .header-prateleira {
    .vitrine {
      img {
        height: 200px;
      }
    }
  }
}
