<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
	<vtex:template id="EnextCommon-Head-jvgouvea" />
	<vtex:metaTags />
	<vtex:template id="EnextCommon-Styles-jvgouvea" />
	<vtex:template id="EnextCommon-Scripts-jvgouvea" />
	<vtex:template id="pngIeFix" />
</head>

<body id="home">

	<!--  SubTemplate: header -->
	<vtex:template id="EnextCommon-Header-jvgouvea" />
	<!-- /SubTemplate: header -->
	
	<vtex:template id="EnextCommon-Footer-jvgouvea" />

	<vtex:template id="EnextCommon-ScriptsBody-jvgouvea" />
	
</body>

</html>