<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
	<vtex:template id="EnextCommon-Head-jvgouvea" />
	<vtex:metaTags />
	<vtex:template id="EnextCommon-Styles-jvgouvea" />
	<vtex:template id="EnextCommon-Scripts-jvgouvea" />
	<vtex:template id="pngIeFix" />
</head>

<body id="produto">

	<!--  SubTemplate: header -->
	<vtex:template id="EnextCommon-Header-jvgouvea" />
	<!-- /SubTemplate: header -->


	<main class="main-product container">

		<div id="product-img">
			<!--  Controle: imagem do produto -->
			<vtex.cmc:ProductImage zoom="off" />
			<!-- /Controle: imagem do produto -->
		</div>

		<div id="content">
			<div id="breadCrumb">
				<vtex.cmc:breadCrumb />
			</div>

			<!--  Controle: nome do produto -->
			<h1 class="font-1-32-b">
				<vtex.cmc:productName />
			</h1>
			<!-- /Controle: nome do produto -->

			<div class="sku">
				<vtex.cmc:skuSelection />
			</div>

			<!--  Controle: preco do produto -->
			<h2 class="font-1-32-b" id="productPrice">
				<vtex.cmc:skuPrice />
			</h2>
			<!-- /Controle: preco do produto -->

			<div class="buybutton">
				<vtex.cmc:BuyButton />
			</div>

		</div>

		<!--  Controle: descricao do produto -->
		<div id="productDescription">
			<h2 class="title">Descrição do Produto</h2>
			<vtex.cmc:ProductDescription />
		</div>
		<!-- /Controle: descricao do produto -->

	</main>

	<div class="recomendado container">
		<h2 class="font-1-32-b cor-p1">Talvez você também goste</h2>
		<div class="header-prateleira">
			<vtex:contentPlaceHolder id="Prateleira" />
		</div>
		<div class="header-btn-ver-mais">
			<a class="btn-ver-mais font-1-16-sb" href="#">Ver mais</a>
		</div>
	</div>

	<vtex:template id="EnextCommon-Footer-jvgouvea" />

	<vtex:template id="EnextCommon-ScriptsBody-jvgouvea" />
</body>

</html>