<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
	<vtex:template id="EnextCommon-Head-jvgouvea" />
	<vtex:metaTags />
	<vtex:template id="EnextCommon-Styles-jvgouvea" />
	<vtex:template id="EnextCommon-Scripts-jvgouvea" />
	<vtex:template id="pngIeFix" />
</head>

<body id="produto">

	<!--  SubTemplate: header -->
	<vtex:template id="EnextCommon-Header-jvgouvea" />
	<!-- /SubTemplate: header -->


	<main class="main-product container">

		<div id="product-img">
			<!--  Controle: imagem do produto -->
			<vtex.cmc:ProductImage zoom="off" />
			<!-- /Controle: imagem do produto -->
		</div>

		<div id="content">
			<div id="breadCrumb">
				<vtex.cmc:breadCrumb />
			</div>

			<!--  Controle: nome do produto -->
			<h1 class="font-1-32-b">
				<vtex.cmc:productName />
			</h1>
			<!-- /Controle: nome do produto -->

			<!--  Controle: preco do produto -->
			<h2 class="font-1-32-b" id="productPrice">
				<vtex.cmc:skuPrice />
			</h2>
			<!-- /Controle: preco do produto -->

			<div class="sku-container">
				<div class="skuSelector">
					<h3>Tamanho:</h3>
					<select name="tamanho" id="tamanho">
					</select>
				</div>

				<div class="produto-quantidade">
					<span class="font-1-12">Quantidade:</span>
					<button id="menos">-</button>
					<input id="quantidade" type="number" value="1" />
					<button id="mais">+</button>
				</div>
			</div>

			<div class="produto-comprar">
				<button class="font-1-b-18 cor-0 comprar addToCart">ADICIONE AO CARRINHO</button>
			</div>

			<div class="produto-frete">
				<h4 class="font-1-16">Calcular frete e prazo</h4>
				<div>
					<div class="header-frete">
						<input type="text" placeholder="00000-000" />
						<button type="submit">OK</button>
					</div>
					<a class="cor-p2 naosei-cep" href="https://buscacepinter.correios.com.br/app/endereco/index.php" target="_blank">Não sei o CEP</a>
				</div>
			</div>

			<div class="frete-informacoes">

			</div>

		</div>

		<!--  Controle: descricao do produto -->
		<div id="productDescription">
			<h2 class="title">Descrição do Produto</h2>
			<vtex.cmc:ProductDescription />
		</div>
		<!-- /Controle: descricao do produto -->

	</main>

	<div class="recomendado container">
		<h2 class="font-1-32-b cor-p1">Talvez você também goste</h2>
		<div class="header-prateleira">
			<vtex:contentPlaceHolder id="Prateleira" />
		</div>
		<div class="header-btn-ver-mais">
			<a class="btn-ver-mais font-1-16-sb" href="#">Ver mais</a>
		</div>
	</div>

	<vtex:template id="EnextCommon-Footer-jvgouvea" />

	<vtex:template id="EnextCommon-ScriptsBody-jvgouvea" />
</body>

</html>